<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>뷰템플릿</title>
</head>
<body>
<h1>{{username}}님, 반갑습니다:D</h1> 
<!-- username이라는 변수에 yk라는 내용을 담아 출력 이 과정은 FirstController파트에서 이뤄진다. -->
<!-- SpringFramework에서 사용하였던 ${} EL식과 같은 원리  -->
</body>
</html>